<%- include("header") -%>

    <div class="box" id="heading">
        <h1><%= daykind %></h1>
    </div>
   
    <div class="box" id="noon">
        <h2>Good <%= noonkind %>!</h2>
    </div>

    <div class="box">
        <% for(var i = 0; i < listitems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= listitems[i] %><br></p>
            </div>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newitem" placeholder="New Task" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
    <form action="/reset" method="post">
       <button class="reset">↻</button>
    </form>

<%- include("footer") -%>
