<%- include("header") -%>
    
    <form action="/reset" method="post">
       <input type="hidden" name="resetTasks" value="<%= title %>"></input>
       <button class="reset">↻</button>
    </form>

    <div class="box" id="heading">
        <% if(noon != "custom") { %>
        <h3>Good <%= noon %>!</h3>
        <% } %>
        <h2><%= title %></h2>       
    </div>
   
    <div class="box">
        <% tasklist.forEach(function(task){ %>
            <form class="task" action="/delete" method="post">
                <input type="checkbox" name="deleteTask" value="<%= task._id %>" onchange="this.form.submit()">    
                <p><%= task.name %><br></p>
                <input type="hidden" name="list" value="<%= title %>"></input>
            </form>
        <% }); %>

        <form class="task" action="/" method="post">
            <input type="text" name="newtask" placeholder=" New Task" autocomplete="off">
            <button type="submit" name="list" value="<%= title %>">+</button>     
        </form>
    </div>

<%- include("footer") -%>
